ANDeclareService/Service References/oaService/CI_C_OA_WSDL_CI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:M911462.V1="http://xmlns.oracle.com/Enterprise/Tools/schemas/M911462.V1" xmlns:M840138.V1="http://xmlns.oracle.com/Enterprise/Tools/schemas/M840138.V1" xmlns:wsp="http://schemas.xmlsoap.org/ws/2002/12/policy" xmlns:tns="http://xmlns.oracle.com/Enterprise/Tools/services/CI_C_OA_WSDL_CI.1" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:M1083921.V1="http://xmlns.oracle.com/Enterprise/Tools/schemas/M1083921.V1" name="CI_C_OA_WSDL_CI.1" targetNamespace="http://xmlns.oracle.com/Enterprise/Tools/services/CI_C_OA_WSDL_CI.1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:UsagePolicy wsdl:Required="true" />
  <plnk:partnerLinkType name="CI_C_OA_WSDL_CI_PartnerLinkType">
    <plnk:role name="CI_C_OA_WSDL_CI_Provider">
      <plnk:portType name="tns:CI_C_OA_WSDL_CI_PortType" />
    </plnk:role>
  </plnk:partnerLinkType>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="M840138.V1.xsd" namespace="http://xmlns.oracle.com/Enterprise/Tools/schemas/M840138.V1" />
      <xsd:import schemaLocation="M1083921.V1.xsd" namespace="http://xmlns.oracle.com/Enterprise/Tools/schemas/M1083921.V1" />
      <xsd:import schemaLocation="M911462.V1.xsd" namespace="http://xmlns.oracle.com/Enterprise/Tools/schemas/M911462.V1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="M840138.V1">
    <wsdl:documentation>M840138</wsdl:documentation>
    <wsdl:part name="parameter" element="M840138.V1:Update__CompIntfc__C_OA_WSDL_CI" />
  </wsdl:message>
  <wsdl:message name="M1083921.V1">
    <wsdl:documentation>M1083921</wsdl:documentation>
    <wsdl:part name="parameter" element="M1083921.V1:Update__CompIntfc__C_OA_WSDL_CIResponse" />
  </wsdl:message>
  <wsdl:message name="M911462.V1">
    <wsdl:documentation>M911462</wsdl:documentation>
    <wsdl:part name="parameter" element="M911462.V1:CIFault" />
  </wsdl:message>
  <wsdl:portType name="CI_C_OA_WSDL_CI_PortType">
    <wsdl:operation name="oaUpdate">
      <wsdl:documentation>CI_C_OA_WSDL_CI_UP</wsdl:documentation>
      <wsdl:input name="M840138.V1" message="tns:M840138.V1" />
      <wsdl:output name="M1083921.V1" message="tns:M1083921.V1" />
      <wsdl:fault name="M911462.V1" message="tns:M911462.V1" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CI_C_OA_WSDL_CI_Binding" type="tns:CI_C_OA_WSDL_CI_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="oaUpdate">
      <soap:operation soapAction="oaUpdate.v1" style="document" />
      <wsp:Policy wsu:Id="UsernameTokenSecurityPolicyPasswordOptional" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
        <wsp:ExactlyOne>
          <wsp:All>
            <wsse:SecurityToken wsp:Usage="wsp:Required" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
              <wsse:TokenType>wsse:UserNameToken</wsse:TokenType>
              <Claims>
                <SubjectName MatchType="wsse:Exact" />
                <UsePassword wsp:Usage="wsp:Optional" />
              </Claims>
            </wsse:SecurityToken>
          </wsp:All>
        </wsp:ExactlyOne>
      </wsp:Policy>
      <wsdl:input name="M840138.V1">
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="M1083921.V1">
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="M911462.V1">
        <soap:fault use="literal" name="M911462.V1" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CI_C_OA_WSDL_CI">
    <wsdl:documentation>CI_C_OA_WSDL_CI</wsdl:documentation>
    <wsdl:port name="CI_C_OA_WSDL_CI_Port" binding="tns:CI_C_OA_WSDL_CI_Binding">
      <soap:address location="http://10.10.111.253:8000/PSIGW/PeopleSoftServiceListeningConnector/PSFT_HR" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>